recursive-include docs *.md
recursive-include examples *.py
include CHANGELOG.md
include LICENSE

prune EquiMed_DSS.egg-info
prune build
prune dist

global-exclude .DS_Store
global-exclude *.py[cod]
global-exclude __pycache__
